// --------------------
// Definition of variables
$primary: blue;
//#32c3ff

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import '../node_modules/bootstrap/scss/bootstrap.scss';
//
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------

// --------------------
// Style reusable for all components
body {
    margin: 0;
    padding: 0;
    //font-family: sans-serif;
    font-family: 'Stylish', sans-serif;
    font-family: 'Stylish', sans-serif;
}

.info {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    background-color: #5776e9;
    color: white;
}

.info.info-danger {
    background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
    text-align: center;

    .App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 80px;
    }

    .App-header {
        background-color: $primary;
        padding: 20px;
        color: white;

        a {
            color: white;
            padding: 0 5px;
            text-decoration: unset;
        }

        a.active {
            font-weight: bold;
        }
    }

    .App-title {
        font-size: 1.5em;
    }

    .App-intro {
        font-size: large;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.Addstocks {
    width: 85vw;
    margin: auto;
}

.table-background {
    background-image: linear-gradient(to bottom right, #6a11cb, #2575fc);
    color: white;
    border: none !important;
}
.remove-btn {
    background-color: white;
    border-radius: 7px;
}

// --------------------
// Style for Home component

.Home {
    p {
        font-size: 1.2em;
    }
}

// --------------------
// Style for Secret component
.Secret {
    .result {
        font-size: 1.2em;
        color: $primary;
    }
}

.Signup {
    display: flex;
    align-items: flex-end;
    margin: 100px;
    padding: 15px;
}

.stockList {
    list-style-type: none;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 7px;
    margin: 5px auto;
    padding: 10px;
    width: 40vw;
}

.input-stock {
    border-radius: 9px;
    padding: 5px;
}

.stockList:hover {
    list-style-type: none;
    font-weight: bold;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.signup {
    display: flex;
    justify-content: flex-center;
    align-content: space-between;
}

body {
    background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: visible;
}

.article-style {
    margin: 10px auto;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #a1c4fd, #c2e9fb);
    width: 60vw;
    border-radius: 7px;
    font-family: 'Baloo Bhai', cursive;
    font-weight: 200;
}

.article-header {
    margin: 10px auto;
    border-radius: 7px;
    color: white;
    background-image: linear-gradient(to bottom right, #667eea, #764ba2);
    width: 30vw;
    padding: 5px 0;
    font-family: 'Baloo Bhai', cursive;
}

.nav-font {
    font-family: 'Baloo Bhai', cursive;
    font-size: 20px;
}

.nav_display {
    display: flex;
    justify-content: flex-end !important;
}

* {
    box-sizing: border-box;
}
$duration: 150s;

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(#000, 0.9);
    padding-left: 100%;
    box-sizing: content-box;

    .ticker {
        display: inline-block;
        height: 4rem;
        line-height: 4rem;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: $duration;
        animation-duration: $duration;

        &__item {
            display: inline-block;

            padding: 0 2rem;
            font-size: 2rem;
            color: white;
        }
    }
}

body {
    padding-bottom: 5rem;
}
h1,
h2,
p {
    padding: 0 5%;
}
